body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}

.swim-lanes {
  min-height: 60vh;
}

.task-card {
  margin: 0 auto;
}

.task-card:hover {
  cursor: grab;
}

.dragging {
  opacity: 0.5;
}

.bg-danger {
  background-color: #f8d7da !important;
}

.bg-warning {
  background-color: #fff3cd !important;
}

.card-header {
  display: block !important;
}
.card-title {
  margin: 0;
  padding: 10px 0;
}